/* You can add global styles to this file, and also import other style files */
@import '~igniteui-angular/igniteui-angular.css';

html, body {
  overflow: hidden;
}

// AppComponent
app-root {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100vh;
}

// TodoComponent
app-todo {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100%;

  .todo__navbar {
    flex: 0 0 auto;
  }

  .todo__list {
    flex: 0 1 auto;
    overflow: auto;
    padding: 0 12px;
  }

  .todo__add {
    flex: 0 0 auto;
    padding: 0 12px;
  }
}

// TodoItemComponent
.todoItem {
  $todoItem: &;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;

  &__check {
    flex: 0 0 auto;
    padding: 0 12px;
  }

  &__title {
    flex: 1 1 auto;
    padding: 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__editor {
    flex: 1 0 auto;
    padding: 8px 12px;
    border: none;
  }
  &__remove {
    flex: 0 0 auto;
    padding: 0 12px;
  }


  &.isDone {
    #{$todoItem}__title {
      text-decoration-line: line-through;
    }
  }
}

// AddTodoItemComponent
.addTodoItem {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 12px;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;

  &__icon {
    flex: 0 0 auto;
    padding: 0 10px;
  }
  &__editor {
    flex: 1 0 auto;
    padding: 8px 12px;
    border: none;
  }
}
